@{
    ViewData["Title"] = "IT Step";
}

<div class="text-center">
    <h1 class="display-4">კეთილი იყოს თქვენი მობრძანრება</h1>
    <p>გაიგე მეტი <a href="https://learn.microsoft.com/aspnet/core">IT STEP GEORGIA</a>.</p>
</div>
